header {
  width: 100%;
  background-image: radial-gradient(
    circle at 0% 0%,
    #dbfd9b 0,
    #c8fd9c 8.33%,
    #b3fb9f 16.67%,
    #9bf9a2 25%,
    #7ff6a7 33.33%,
    #5af2ac 41.67%,
    #0cedb3 50%,
    #00e8bb 58.33%,
    #00e3c5 66.67%,
    #00ded0 75%,
    #00dadc 83.33%,
    #00d5e9 91.67%,
    #00d1f6 100%
  );
  padding: 20px;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
